* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Gowun Dodum", sans-serif;
}

input {
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
